<div class="modal">
    <ion-header-bar>
        <h1 class="title">Confirm amount</h1>
    </ion-header-bar>
    <ion-content class="bg-pattern">
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/parisdeli.jpg">
                <h2>Paris Deli</h2>
                <p class="small">Adeola Odeku, Victoria Island</p>
            </div>

            <div class="item item-body">
                <p>
                    Located in the heart of Victoria Island. Paris deli offers a great atmosphere for lunch, dinner, meetings
                    and everything in between with a bistro style presentation
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Save Favorite
                </a>

                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Get directions
                </a>
            </div>

        </div>



        <div class="padding-left padding-right">
            <label class="item item-input">
                <input type="number" ng-model="amount_to_pay" placeholder="Amount to pay">
            </label>

            <a href="" ng-click="confirmMerchant(amount_to_pay)" class="button button-block button-large button-positive">
                Pay {{amount_to_pay | currency}}
            </a>
        </div>

        <div class="padding-left padding-right">
            <a href="" ng-click="closeModal()" class="button button-block button-large button-stable">
                Close
            </a>
        </div>
    </ion-content>
</div>

