<div class="modal">
    <ion-header-bar>
        <h1 class="title">Confirm amount</h1>
    </ion-header-bar>
    <ion-content class="bg-pattern">
        <div class="list">



            <div class="item item-avatar">
                <img src="img/parisdeli.jpg">
                <h2>Paris Deli</h2>
                <p class="small">Adeola Odeku, Victoria Island</p>
            </div>
            <a class="item item-icon-left" ng-click="showPaymentSheet()">
                <i class="icon ion-card"></i>

                <span class="">GTB Current account</span>
            </a>
            <div class="item amount-item stable-bg">
                 <!--<span class="text-muted pay-label">Amount to pay</span> -->
                <span class="pull-right text-bofld">NGN {{amount_to_pay | number}}</span>
            </div>



            <div class="item tight-item b-t-none b-b-none">
                <div class="row">
                    <div class="col key-input">1</div>
                    <div class="col key-input">2</div>
                    <div class="col key-input">3</div>
                </div>
                <div class="row">
                    <div class="col key-input">4</div>
                    <div class="col key-input">5</div>
                    <div class="col key-input">6</div>
                </div>
                <div class="row">
                    <div class="col key-input">7</div>
                    <div class="col key-input">8</div>
                    <div class="col key-input">9</div>
                </div>
                <div class="row">
                    <div class="col key-input">.</div>
                    <div class="col key-input">0</div>
                    <div class="col key-input">
                     <i class="icon ion-ios7-close-outline"></i>
                    </div>
                </div>
            </div>
            <div class="item  amount-item  text-center positive-bg light"  ng-click="confirmMerchant(amount_to_pay)">

                Pay NGN {{amount_to_pay | number}}
            </div>
            <div ng-click="closeModal()" class="item  amount-item  text-center stable-bg" >

                Cancel
            </div>


        </div>




        <!--<div class="padding-left padding-right">-->
            <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="number" ng-model="amount_to_pay" placeholder="Amount to pay">&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->

            <!--<a href="" ng-click="confirmMerchant(amount_to_pay)" class="button button-block button-large button-positive">-->
                <!--Pay NGN {{amount_to_pay | number}}-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="padding-left padding-right">-->
            <!--<a href="" ng-click="closeModal()" class="button button-block button-large button-stable">-->
                <!--Cancel-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</div>

