<ion-view title="Select recipient">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">
        <!--<div class="p-h-md m-t-large">-->
            <!--<label class="item item-input">-->
                <!--<i class="icon ion-search placeholder-icon"></i>-->
                <!--<input type="text" ng-model="contact_search" placeholder="Find contact">-->
            <!--</label>-->
        <!--</div>-->

        <div class="list">
            <div class="item item-toggle">
                Use bank account number?
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="use_bank">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div ng-hide="use_bank">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="contact_search" placeholder="Find contact">
                </label>
                <div class="item item-button-right" ng-click="confirmContact()">
                    Add new phone number
                    <button class="button button-positive button-clear">
                        <i class="icon ion-plus"></i>
                    </button>
                </div>
                <div class="item item-divider">
                    Eligible Kwikii recipients
                </div>
                <a class="item item-icon-left" ng-repeat="contact in local_contacts  | filter:contact_search" href="#/app/transfer/{{contact.id}}">
                    <i class="icon ion-person text-muted"></i>
                    <h2>{{contact.name}}</h2>
                    <p ng-show="contact.phone_numbers.length == 1" class="t-d-none">{{contact.phone_numbers[0]}}</p>
                    <p ng-show="contact.phone_numbers.length > 1" class="t-d-none">Multiple numbers, please select</p>
                </a>
                <div class="item item-icon-left" ng-repeat="contact in contacts  | orderBy:'contact.name.formatted'  | filter:contact_search " ng-click="selectContact(contact)">
                    <i class="icon ion-person text-muted"></i>
                    <h2>{{contact.name.formatted}}</h2>
                    <p ng-show="contact.phoneNumbers.length == 1" class="t-d-none">{{contact.phoneNumbers[0].value}}</p>
                    <p ng-show="contact.phoneNumbers.length > 1" class="t-d-none">Multiple numbers, please select</p>
                </div>
            </div>
            <div ng-show="use_bank">
                <div class="item  amount-item  text-center stable-bg"  ng-click="confirmMerchant(amount_to_pay)">

                    0183-343-3435
                </div>
                <div class="item tight-item b-t-none b-b-none">
                    <div class="row">
                        <div class="col key-input">1</div>
                        <div class="col key-input">2</div>
                        <div class="col key-input">3</div>
                    </div>
                    <div class="row">
                        <div class="col key-input">4</div>
                        <div class="col key-input">5</div>
                        <div class="col key-input">6</div>
                    </div>
                    <div class="row">
                        <div class="col key-input">7</div>
                        <div class="col key-input">8</div>
                        <div class="col key-input">9</div>
                    </div>
                    <div class="row">
                        <div class="col key-input"></div>
                        <div class="col key-input">0</div>
                        <div class="col key-input">
                            <i class="icon ion-ios7-close-outline"></i>
                        </div>
                    </div>
                </div>

                <a  href="#/app/transfer/1" class="item  amount-item  text-center positive-bg light"  ng-click="confirmMerchant(amount_to_pay)">

                    Verify bank account
                </a>
            </div>


        </div>






    </ion-content>
</ion-view>
