<ion-view title="Find business">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">



        <!--<ion-refresher-->
                <!--pulling-text="Pull to refresh..."-->
                <!--on-refresh="doRefresh()"-->
                <!--refreshing-text="Refreshing!"-->
                <!--refreshing-icon="ion-loading-c">-->
        <!--</ion-refresher>-->
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Find a business">
            </label>
            <div class="item item-divider">
                Nearby venues
            </div>
            <a href="" ng-click="openModal()" class="item">
                Paris Deli
                <div class="small text-muted">
                    Akin Adeosola, Victoria Island

                    <span class="pull-right"> < 1 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Sip lounge and bar
                <div class="small text-muted">
                    Ajose adegun, Victoria Island
                    <span class="pull-right">1 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Tongues tastees
                <div class="small text-muted">
                    Ahmadu bello, Victoria Island
                    <span class="pull-right">2 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Bistro cafe
                <div class="small text-muted">
                    Adeola Odeku, Victoria Island

                    <span class="pull-right">4 km</span>
                </div>
            </a>
        </div>



        <!--<div class="bar bar-footer">-->
            <!--<div class="tabs tabs-icon-left">-->
                <!--<a class="tab-item">-->
                    <!--<i class="icon ion-ios7-location"></i>-->
                    <!--Nearby-->
                <!--</a>-->
                <!--<a class="tab-item">-->
                    <!--<i class="icon ion-ios7-search"></i>-->
                    <!--Search-->
                <!--</a>-->
                <!--<a class="tab-item">-->
                    <!--<i class="icon ion-star"></i>-->
                    <!--Favorites-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->







    </ion-content>
</ion-view>
