<div class="modal">
    <ion-header-bar>
        <h1 class="title">Confirm amount</h1>
    </ion-header-bar>
    <ion-content class="bg-pattern">
        <div class="list">
            <div class="item">
                Kola Ashiru <br>
                <small>0810-360-8580</small>

            </div>





            <div ng-click="closeModal()" class="item  amount-item  text-center stable-bg" >

                Cancel
            </div>


        </div>




        <!--<div class="padding-left padding-right">-->
        <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="number" ng-model="amount_to_pay" placeholder="Amount to pay">&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->

        <!--<a href="" ng-click="confirmMerchant(amount_to_pay)" class="button button-block button-large button-positive">-->
        <!--Pay NGN {{amount_to_pay | number}}-->
        <!--</a>-->
        <!--</div>-->

        <!--<div class="padding-left padding-right">-->
        <!--<a href="" ng-click="closeModal()" class="button button-block button-large button-stable">-->
        <!--Cancel-->
        <!--</a>-->
        <!--</div>-->
    </ion-content>
</div>

