<ion-view title="Find business">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">
        <div class="p-h-md m-t-large">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Find a business">
            </label>
        </div>



        <div class="list card">
            <a href="" ng-click="openModal()" class="item">
                Paris Deli
                <div class="small text-muted">
                    Akin Adeosola st, Victoria Island

                    <span class="pull-right"> < 1 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Sip lounge and bar
                <div class="small text-muted">
                    Ajose adegun, Victoria Island

                    <span class="pull-right">1 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Tongues tastees
                <div class="small text-muted">
                    Ahmadu bello, Victoria Island

                    <span class="pull-right">2 km</span>
                </div>
            </a>
            <a href="" ng-click="openModal()" class="item">
                Bistro cafe
                <div class="small text-muted">
                    Adeola Odeku, Victoria Island

                    <span class="pull-right">4 km</span>
                </div>
            </a>
        </div>






    </ion-content>
</ion-view>
