<ion-view title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">
        <div class="p-h-md m-t-large">
            <a href="#/app/find_merchant" class="button button-block button-large button-positive">
                Pay now
            </a>
        </div>

        <div class="list card">

            <div class="item">
                <div class="row text-center">
                    <div class="col">
                        <div class="metric-value">8</div>
                        <div class="metric-label text-muted">Transactions</div>
                    </div>
                    <div class="col">
                        <div class="metric-value">N 36,000</div>
                        <div class="metric-label text-muted">Total</div>
                    </div>
                </div>

            </div>


            <a href="" class="item item-icon-left">
                <i class="text-muted icon ion-ios7-cart"></i>
                View transaction history
            </a>
            <a href="" class="item item-icon-left">
                <i class="text-muted icon ion-location"></i>
                Nearby Kwikii powered venues
            </a>


        </div>






    </ion-content>
</ion-view>
