<ion-view title="Payment options">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">




        <div class="list">
            <div class="item item-divider">
                Bank accounts
            </div>
            <a class="item">
                <span class="">GTB personal</span><br>
                <span class="small balanced">Verified</span>
                <span class="pull-right small text-muted">Last used 2 days ago</span>
            </a>
            <a class="item">

                <span class="">Stanbic business</span><br>
                <span class="small energized">Pending verification</span>
            </a>
            <a class="item">


                <span class="">Add a new bank account</span>
            </a>
        </div>








    </ion-content>
</ion-view>
