<ion-view title="Payment options">
    <ion-nav-buttons side="left">
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    </ion-nav-buttons>
    <ion-content class="has-header bg-pattern">



        <div class="list">
            <div class="item item-divider">
                Bank accounts
            </div>
            <a class="item item-icon-left">
                <i class="icon ion-card"></i>

                <span class="">GTB personal</span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-card"></i>

                <span class="">Stanbic business</span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-card"></i>

                <span class="">Add a new bank account</span>
            </a>
        </div>








    </ion-content>
</ion-view>
