<ion-view title="Sign in">
    <ion-nav-buttons side="left">

    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Pick a password">
            </label>
            <a href="#/app/home" class="button button-block button-large button-positive">
                Sign in
            </a>

            <a href="#/app/sign_up" class="button button-block button-large button-light">
                Sign up
            </a>


        </div>
    </ion-content>
</ion-view>

